# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized

## Objectives:
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- Share examples of arithmetic expressions

## Some of the popular languages that Data scientists use are:
1. Python
2. R
3. Julia

## Some of the commonly used libraries used by Data Scientists include
1. Pandas
2. NumPy
3. ggplot

|Data Science Tools|
|---|
|Jupyter Notebooks|
|Zeppelin Notebooks|
|Google Colab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This is a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours 
200/60

3.3333333333333335

### Author
Sofia Facio Lima